<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Estacionamiento</title>
</head>
<body>
    <h1>Estacionamiento</h1>
    <!-- <form action="/registrar" method="post">
        <label for="placa">Placa:</label>
        <input type="text" name="placa" required>
        <label for="hora_entrada">Hora de entrada:</label>
        <input type="text" name="hora_entrada" required>
        <button type="submit">Registrar</button>
    </form> -->
    <table border="1" class="table table-striped-columns">
        <tr>
            <th>ID</th>
            <th>fecha</th>
            <th>Hora </th>
            <th>tipo</th>
            <th>rol</th>
            <th>direccion</th>

        </tr>
        {% for registro in registros %}
            <tr>
                <td>{{ registro[0] }}</td>
                <td>{{ registro[1] }}</td>
                <td>{{ registro[2] }}</td>
                <td>{{ registro[3] }}</td>
                <td>{{ registro[4] }}</td>
                <td>{{ registro[5] }}</td>
            </tr>

        {% endfor %}
    </table>


    <!--     -->

    <button onclick="mostrarOcultarTabla()" class="btn btn-dark btn-sm">"Ingresos"/ Reporte</button>

    <table id="miTabla" class="table table-striped-columns">
        <thead>
            <tr>
                <th>Ingresos</th>
            </tr>
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Tipo Vehiculo</th>
                <th>Rol Vehiculo</th>
            </tr>
        </thead>
        <tbody>
            {% for ingreso in ingresos %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ ingreso[1] }}</td>
                    <td>{{ ingreso[2] }}</td>
                    <td>{{ ingreso[3] }}</td>
                    <td>{{ ingreso[4] }}</td>
                    <td>{{ ingreso[5] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    

    <script>
        function mostrarOcultarTabla() {
            var tabla = document.getElementById("miTabla");
            if (tabla.style.display === "none") {
                tabla.style.display = "table";
            } else {
                tabla.style.display = "none";
            }
        }
    </script>
 <button onclick="mostrarOcultarTabla1()" class="btn btn-dark btn-sm">"Egresos"/ Reporte</button>

    <table id="miTabla1" class="table table-striped-columns">
        <thead>
            <tr>
                <th>Egresos</th>
            </tr>
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Tipo Vehiculo</th>
                <th>Rol Vehiculo</th>
            </tr>

        </thead>
        <tbody>
            {% for egreso in egresos %}
            <!-- contador en el for -->
            <tr>
                <td>{{ loop.index  }}</td>
                <td>{{ egreso[1] }}</td>
                <td>{{ egreso[2] }}</td>
                <td>{{ egreso[3] }}</td>
                <td>{{ egreso[4] }}</td>
                <td>{{ egreso[5] }}</td>
            </tr>

        {% endfor %}
        </tbody>
    </table>

    <script>
        function mostrarOcultarTabla1() {
            var tabla = document.getElementById("miTabla1");
            if (tabla.style.display === "none") {
                tabla.style.display = "table";
            } else {
                tabla.style.display = "none";
            }
        }
    </script>

<body>
    <h1>Personas por vehiculo</h1>
    
    <!-- Mostrar la imagen del gráfico -->
    <img src="data:image/png;base64,{{ img_base64 }}" alt="Gráfico de Tipo de Movimiento">

</body>
<body>
    <h1>Personas por Rol</h1>
    
    <!-- Mostrar la imagen del gráfico -->
    <img src="data:image/png;base64,{{ img_base64_2 }}" alt="Gráfico de Tipo de Movimiento">

</body>
<body>
    <h1>Espacios Ocupados</h1>
    
    <!-- Mostrar la imagen del gráfico -->
    <img src="data:image/png;base64,{{ img_total }}" alt="Gráfico de Tipo de Movimiento">
</body>
</body>
</html>
